# React
/client/node_modules/
/client/.env
/client/build
/client/dist

# .NET
/API/bin/
/API/obj/
/API/.vs/
/API/*.user
/API/*.suo
/API/*.log

# SQLite
!API/ecommerce.db

# General
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig