# React
/client/node_modules/
/client/.env
/client/build
/client/dist

# .NET
/api/bin/
/api/obj/
/api/*.user
/api/*.suo
/api/.vs/
/api/*.log

# SQLite
/api/ecommerce.db

# General
*.DS_Store
*.log
.env
*.tmp
*.swp
*.swo
.idea/
.vscode/